.main-container {
    background-image: url('https://i.pinimg.com/474x/02/a4/d2/02a4d29af382267d7c1ac7f777d19be2.jpg');
    background-size: cover;
    padding-bottom: 30px;
    padding-top: 50px;
    min-height: 100vh;
    
}

.app-container {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)  

}

.head {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    line-height: 2px;
    font-style: italic;
}

.input-field {
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.card {
    background-image: url('../../images/night.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 100%;
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
    
   

}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-text {
    font-size: 27px;
    line-height: 1px;
    font-style: italic;
}

.cloud {
    font-size: 150px;
    color: rgb(225, 225, 225);
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1px;
}

.inner-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    color: rgb(35, 195, 248);
    width: 250px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.inner-card {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 25px;
}

.inner-card-text {
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
}

@media screen and (max-width:768px){
    .app-container{
        max-width: 300px;
    }
    .cards-container{
        flex-direction: column;
        align-items: center;
    }
 
}